<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="process_xforms_submissionHandler" class="com.idega.jbpm.exe.impl.DefaultSubmissionHandler" scope="singleton">
		<property name="converter" ref="process_xforms_converter" />
	</bean>
	<bean id="process_xforms_converter" class="com.idega.chiba.process.converters.XFormsConverter" scope="singleton">
		<property name="convertersFactory" ref="process_xforms_dataConvertersFactory" />
	</bean>
	<bean id="process_xforms_dataConvertersFactory" class="com.idega.chiba.process.converters.DataConvertersFactory" scope="singleton" />
	
	<bean id="process_xforms_viewToTask" class="com.idega.chiba.process.XFormsToTask" scope="singleton">
		<property name="identifier" value="process.xforms.viewToTask" />
		<property name="jbpmConfiguration" ref="defaultJbpmConfiguration" />
		<property name="sessionFactory" ref="idega_jbpmDSHibernateSessionFactory" />
	</bean>
</beans>