/* ***************************************************************************** */
/* ************** CSS STYLESHEET FOR STYLING XFORMS INSIDE OF HTML ************* */
/* this stylesheet uses table layout which may not be supported on all browsers. */
/* ***************************************************************************** */

/*********** GENERAL STUFF ***********/

form {
    padding: 0;
    margin: 0;
}

#loading{
    position:absolute;
    top:2px;
    right:5px;
    z-index:1000;
    padding:3px;
}

.inactive{
    display:none;
}

#legend{padding:3px;}

.messagePane{
    border:solid;
    border-width:1px;
    background:lightyellow;
  	left:50%;
    top:0px;
    padding:10px;
    
}

/* #################### GROUP STYLES #################### */
/* xf:groups will be rendered as fieldsets and therefore
are styleable via this matcher or more specifically by their
appearance class 'minimal-group|compact-group|full-group'. */

fieldset{
	margin: 0;
	margin-bottom:5px;
	padding: 0;
	position: relative;
}

fieldset legend {
	margin-bottom: 12px;
	display: block;
}


/*********** group appearances ***********/

.group {
	border: 0px;
}
	
.minimal-group{
    padding-top:5px;
}

.minimal-group div{
    display:inline;
    margin-right:3px;
}

.compact-group div{
    display:block;
}

.compact-group div label{
    display:block;
}

.compact-group div .value{
    display:inline;
    margin-right:3px;
}


.full-group div{
    display:block;
    clear:both;
}
.full-group label{
    /*width:10em;
    float:left;*/
}
.full-group .value{
    display:inline;
}

.minimal-group label{
    display:inline;
}


/*********** use to render group labels ***********/
.legend{
    }

/*********** nested group ***********/
fieldset > fieldset {
    margin: 0px;
    padding-top:0px;
}

/* IE */
fieldset fieldset{
    margin: 0px;
}

/*********** nested nested group ***********/
fieldset > fieldset > fieldset {
    margin: 0px;
    display:block;
}


/* #################### GENERAL XFORMS MIP AND COMMON-CHILD STYLES #################### */

.invalid > .alert{
    position:absolute;
    border:thin solid #A42322;
    /*background-color:#DAE9BB;*/
    color:#A42322;
    padding:2px;
    height:14px;
    margin-left:2px;
    font-weight:bold;
}

.valid > .alert{
    display:none;
}

.invalid .value{
    color:white;
    font-style:italic;
    /*background:#A42322;*/
}

/*
.valid.alert{display:none;}
.invalid.alert{
    position:absolute;
    border:thin solid #A42322;
    background-color:#DAE9BB;
    color:#A42322;
    padding:2px;
    height:14px;
    margin-left:2px;
    font-weight:bold;
}
*/

.disabled label{
    display:none !important;
}
.disabled .value{
    display:none !important;
}
.disabled {
    display:none !important;
}
.disabled .alert{
    display:none !important;
}
.disabled .progressbar{
    display:none !important;
}

/*********** styles character used for signaling 'required' (normally '*') ***********/

.required-symbol{
    color:#A42322;
    font-size:larger;
}

.repeat .label .required-symbol{
    color:red;
    display:inline;
}

.optional .required-symbol{                         
    display:none;
}

.enabled {
}

.help-text{
    position:absolute;
      /* @author=Arunas help text display changed*/
  /*display:none;
    width:300px;
    border:thin solid gray;
    background:azure;
    padding:10px;
	*/
}

.help-symbol{
    margin-left:3px;
}

/* #################### Repeat styles #################### */

.repeat-prototype {
    display: none;
}

.repeat-item {
}

.repeat-index {
    /*background: #BCD884;*/
}

.repeat-index-pre {
    /*background: #DAE9BB;*/
}

.repeat-selector {
    /*float: left;*/
}

.selector-prototype {
    display: none !important;
}

.minimal-repeat{
    display:block;
}
.minimal-repeat .repeat-item{
    float:left;
}
.minimal-repeat .repeat-index{
    float:left;
}

/* #################### SWITCH STYLES #################### */

.switch .selected-case {
    display: inherit;
}

.switch .deselected-case {
    display: none;
}

.full-switch {
    border-spacing: 0px;
}

.full-switch-body {
    /*background: #F0F4EA;*/
    /*border: 1px solid black;*/
    border-top: none;
}

.full-switch .active-tab {
    /*background: #F0F4EA;*/
    /*border: 1px solid rgb(85, 96, 63);*/
    border-right: none;
    border-bottom: #F0F4EA;
    padding: 3px 5px 3px 5px;
    width: 10%;
}

.full-switch .active-tab input {
    /*background: #F0F4EA;*/
    border: none;
}

.full-switch .inactive-tab {
    /*background: rgb(188, 216, 132);*/
    /*border: 1px solid rgb(85, 96, 63);*/
    border-right: none;
    padding: 3px 5px 3px 5px;
    width: 10%;
}

.full-switch .inactive-tab input {
    /*background: rgb( 188, 216, 132 );*/
    border: none;
}

.full-switch .filler-tab {
    /*border: 1px solid rgb( 85, 96, 63 );*/
    border-top: none;
    border-right: none;
    /*width: 90%;*/
    /*overflow: hidden;*/
}

/* #################### CONTROL STYLES #################### */


/* ### example rules for styling the actual controls (widgets) ### */
/*
.trigger > .value {
    margin: 2px;
    padding: 2px 2px 1px 2px;
    color: #000000;
    border: thin solid;
    font-size: 10pt;
    font-family: sans-serif;
}
*/


/*********** Range specific styles ***********/
.rangelabel td{
    background:transparent;
    text-align:center;
    font-size:8pt;
}

.rangesteps{
    height:25px;
    width:6px;
}
.rangesteps td {
    background: rgb( 188, 216, 132 );
}

.rangesteps td img{
    border:none;
    display:block;
}

.rangesteps td a:hover img {
    background: rgb( 218, 233, 187 );
    width:6px;
    height:25px;
}
.rangevalue * {
    background:#564;
}
.rangesteps .rangevalue a:hover *{
    background:#564;
}
/* IE */
.rangesteps .rangevalue *{
    background:#564;
}

/*********** Upload specific styles ***********/
.progressbar{
    display:none;}
    
.progressbar .border{
    margin-top:1px;
    background: url(/idegaweb/bundles/org.chiba.web.bundle/resources/images/progress-remainder.gif) repeat-x;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 100%;
    height: 18px;
}
.progressbar .background {
  	background: url(/idegaweb/bundles/org.chiba.web.bundle/resources/images/progress-bar.gif) repeat-x;
  	height: 18px;
  	width: 0%;
}

.selected-case span.output{
	display: block;
	clear: both !important;
	width: 100%;
	overflow: hidden;
	/*width: auto !important;*/
}

.selected-case span.output label.label{
	float: left;
	clear: both !important;
	padding: 4px;
}

.selected-case span.output span{
	display: block;
	float: left;
	clear: right !important;
	padding: 4px;
}

/* Extra stylings */
/*#formHeading{
	border: 1px #949494 solid;
	background: #88827e url("/content/files/public/boxHeaderTiler.gif") left top repeat-x;
	font-family: Arial, "Helvetica", "Arial", sans-serif;
	font-size: 118%;
	color: #fff;
	font-weight: bold;
	text-shadow: #000 2px 2px 1px;
	padding: 4px 0 0 6px;
	margin: 0 2px 2px;
	height: 18px;
	position: relative;
	line-height: 13px;
}*/
#chiba-head div.info {
	padding: 0;
	background: none;
	height: auto;
}

#chiba-head div.info h1 {
	margin: 0;
	padding: 0;
	font-size: 22px;
}

div.fbc_header_text{
	border: 1px #a4a4a4 solid;
	padding: 0 6px !important;
	background: #ccc;
	line-height: 24px;
	padding: 0;
	margin: 0;
	clear: both;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 16px;
	font-size: 13px;
}

div.fbc_header_text span {
	float: none !important;
	padding: 0 !important;
}

span.required-symbol{
	color: #ff2700;
	font-size: 1.4em;
}

.error {
	font-weight: bold;
	color: #FF2700;
}

.invalid .alert {
	border-width: 0 !important;
	background: transparent !important;
	color: #ff2700;
	position: relative;
	top: -4px;
}

.invalid input.value{
	background: #ffe2ca !important;
	color: #000;
}

select.value option{
	padding: 2px;

}

fieldset.group.full-group {
	padding: 0px !important;
}

div.input, div.textarea, div.select, div.select1 {
	width: 100%;
	overflow: hidden;
	margin-bottom: 12px;
	position: relative;
}

div.input input.value, 
div.textarea textarea.value,
div.secret input.value,
div.upload input.value,
div.select select.value,
div.select1 select.value {
	background: #ffffff !important;
	width: 350px;
	margin-right: 20px;
	border: 1px #a8a8a8 solid;
	font-size: 13px !important;
	font-family: inherit !important;
}

div.input input.value:focus, 
div.textarea textarea.value:focus,
div.secret input.value:focus,
div.upload input.value:focus,
div.select select.value:focus,
div.select1 select.value:focus {
	border-color: #333;
	background-color: #efefef !important;
}

div.input input.value, 
div.textarea textarea.value {
	padding: 3px;
}

label.label{
	float: left;
	width: 160px !important;
	font-weight: bold;
	color: #222222;
	line-height: 16px;
	margin-right: 20px;
}

div.select1 > span, div.select > span {
	position: relative;
	float: left;
	width: 358px;
	margin-right: 20px;
}

div.select1 > span.help-text, div.select > span.help-text {
	width: 310px;
	margin-right: 0;
	float: right;
}

div.select1 > span > span.selector-item, div.select > span > span.selector-item {
	display: block;
}

span.selector-item > input.value {
	margin-top: 0px;
}

span.selector-item > span.label {
	position: relative;
	top: -5px;
}

/*@author=Arunas help text always visible*/
.helperText {
	visibility: visible;
}

div.select1 > span.selector-prototype {
	border: none;
}

fieldset.group textarea {
	width: 352px 			!important;
	height: auto;
}

.fbc_simple_text {
	clear: both;
	margin-top: 16px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.trigger > input {
	border: 2px #a8a8a8 solid;
	padding: 2px 4px;
	margin-left: 5px;
	font-size: 10px;
}

.trigger > input:hover {
}

div.group {
	margin-bottom: 12px;
}

div.group table {
	clear: both;
	margin-top: 5px;
}

div.group table .input {
	margin-bottom: 0 !important;
}

div.group table input {
	width: 150px !important;
}

div.fbc_button_area {
	text-align: right;
	margin-top: 32px;
	margin-bottom: 12px;
	clear: both;
}

div.fbc_button_area .trigger {
	float: none !important;
	margin-left: 8px;
}

div.fbc_button_area .trigger input {
	border: 2px #a8a8a8 solid;
	padding: 5px 8px;
	font-weight: bold;
	margin: 0 !important;
	font-size: 12px !important;
}

div.fbc_button_area .trigger input:hover {
	color: #fff;
	background-color: #a8a8a8;
	border-color: #666;
}

div.label {
	clear: both;
	position: relative;
	font-weight: bold;
	border-bottom: 1px #a8a8a8 solid;
	padding: 4px 0;
	margin-bottom: 8px;
}

span.selector-item{
	clear: both 			!important;
}

span.selector-item span.label{
	margin-left: 5px;
}

fieldset.group .trigger{
	float: right;
}

div.phases {
	position: absolute;
	top: -7px;
	right: 9px;
}

div.phases ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.phases ul li {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/blue_orb.png',sizingMethod='scale');
	width: 20px;
	height: 20px;
	text-align: center;
	color: #fff;
	display: block;
	float: left;
	padding-top: 3px;
	margin-right: 4px;
	margin-top: 11px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

html>body div.phases ul li {
	background: url(images/blue_orb.png) no-repeat top center;
	filter: none;
}

div.phases ul li.current {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/orange_orb.png',sizingMethod='scale');
	width: 40px;
	height: 46px;
	font-size: 26px;
	padding-top: 5px;
	margin-top: 0;
}

html>body div.phases ul li.current {
	background-image: url(images/orange_orb.png);
	filter: none;
}

.selector-item {
}

div.textarea {
	margin-bottom: 12px;
	overflow: hidden;
}

div.textarea label {
	float: left;
}

div.textarea textarea {
	float: left;
	height: auto;
	width: 350px !important;
}

div.input {
	overflow: hidden;
}

table div.input {
	width: auto;
}

div.input input {
	float: left;
}

.invalid .alert {
	float: none;
	clear: both !important;
	margin-left: 180px;
	top: 0;
	margin-top: 3px;
	display: block;
}

div.input.invalid input.value, div.textarea.invalid textarea.value {
	background-color: #faa !important;
	border-color: #f00 !important;
}

div.select1.invalid span,
div.select.invalid span {
	background-color: #faa;
	border: 1px #f00 solid;
	padding: 8px;
	width: 340px !important;
}

div.select1.invalid span span,
div.select1.invalid label span,
div.select1.invalid span.alert,
div.select1.invalid span.help-text,
div.select.invalid span span,
div.select.invalid label span,
div.select.invalid span.alert,
div.select.invalid span.help-text {
	border: 0;
	padding: 0;
}

div.select1.invalid label span,
div.select1.invalid span.help-text,
div.select.invalid label span,
div.select.invalid span.help-text {
	background-color: #fff;
}

div.select1.invalid span.alert,
div.select.invalid span.alert {
	margin-bottom: 12px;
}

div.select1.invalid span.help-text,
div.select1.invalid span.help-text span,
div.select.invalid span.help-text,
div.select.invalid span.help-text span {
	width: 310px !important;
	background-color: #fff !important;
}

.help-text {
	left: 0;
	float: right;
	width: 310px !important;
	position: relative;
}

.help-text .helpIcon {
	display: none;
}

.help-text span.output {
	float: right;
	display: block !important;
}

.help-text span.output span {
	font-size: 11px;
	padding: 0;
	display: block !important;
}

.help-text span.output label {
	display: none;
}

fieldset.readwrite.optional {
	position: relative;
	clear: both;
}

fieldset.readwrite.optional legend {
	font-weight: bold;
	padding-top: 18px;
}

fieldset.readwrite.optional span.trigger {
	margin-bottom: 4px;
}

fieldset.readwrite.optional table span.trigger {
	position: absolute;
	right: 0;
	top: 0;
}

fieldset.readwrite.optional table {
	clear: both !important;
	width: 100%;
}

fieldset.readwrite.optional table td {
	border: 1px #a8a8a8 solid;
	background-color: #efefef;
	width: 100%;
	padding: 10px;
	position: relative;
}

fieldset.readwrite.optional table tr.repeat-header {
	display: none;
}

fieldset.readwrite.optional table span label {
	padding: 0 !important;
}

fieldset.readwrite.optional table span span {
	padding: 0 !important;
	margin-bottom: 4px;
}

fieldset.readwrite.optional table div.upload {
	margin-top: 4px;
}

fieldset.readwrite.optional table div.input {
	margin-bottom: 4px;
}

div.xformErrors {
	margin-top: 8px;
	border: 2px #c00 solid;
	background-color: #faa;
	padding: 8px;
}

div.xformErrors table {
	margin-top: 0;
}

div.xformErrors td {
	font-weight: bold;
}

div.formInfo {
	margin-bottom: 18px;
	margin-top: 12px;
	padding: 0;
}

div.formInfo span {
	padding: 0 !important;
}

div.select1 span.selector-item, div.select span.selector-item {
	margin-bottom: 4px;
}

div.select1 span.selector-item input, div.select span.selector-item input {
	margin: 0 !important;
	vertical-align: middle;
}

div.select1 span.selector-item span, div.select span.selector-item span {
	margin: 0;
	top: 2px;
	margin-left: 4px;
}

div.incremental input {
	text-align: right;
}

span.total span {
	width: 150px;
	text-align: right;
	font-weight: bold;
}

.paragraphAlert {
	border: 1px #EFD585 solid;
	font-weight: bold;
	padding: 8px;
	margin-bottom: 12px;
	background: url(/content/files/public/style/attention_background.gif);
}

.paragraphAlert span.output {
	background: url(/content/files/public/style/attention_icon.png) top left no-repeat;
	height: 30px;
}

html>body .paragraphAlert span.output {
	height: auto;
	min-height: 30px;
}

.paragraphAlert span.output span {
	padding: 0;
	margin-left: 34px;
}

.helpBlock {
	margin-bottom: 12px;
}

.noLabel {
	margin-top: 8px;
}

.noLabel label {
	width: auto !important;
	margin-right: 3px;
}

span.trigger.link {
	float: none;
	display: block;
	clear: none;
	padding: 0 4px;
	margin-bottom: 16px;
	font-weight: bold;
}

@media print {
	.fbc_button_area, .alert, .xformErrors, .trigger {
		display: none !important;
	}
}

.casesBPMAssets .actions {
	margin-bottom: 0;
	margin-top: 4px;
}

.casesBPMAssets .formView {
	margin-top: 0 !important;
}

.formView .info {
	margin-bottom: 12px;
}

.formView table div.input input.value {
	width: 290px;
}

td div.required input.value {
	background-color: #fee !important;
}